<div class="row">
  <div class="col-12">
    <h1 style="text-align: center">TO DO APP</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/create']">Create Form</a>
      </li>
    </ul>
  </div>
</div>
<!-- <nav class="navbar navbar-expand-md container">
  <button type="button" class="btn btn-warning" ></button>
  <button type="button" class="btn btn-danger" [>
    
  </button>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
